@layer reset, global, components, utils;

@layer reset {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
    }

    a {
        text-decoration: none;
    }

    img,
    picture,
    svg {
        max-width: 100%;
        height: auto;
        display: block;
    }

    input,
    button,
    textarea,
    select {
        background: none;
        font: inherit;
        border: none;
        padding: 0;
    }

    button {
        all: unset;
        cursor: pointer;
    }
}

@layer global {
    @font-face {
        font-display: swap;
        font-family: "Martian Mono";
        font-style: normal;
        font-weight: 400;
        src: url("assets/fonts/martian-mono/static/MartianMono-Regular.ttf") format("truetype");
    }

    @font-face {
        font-display: swap;
        font-family: "Martian Mono";
        font-style: normal;
        font-weight: 600;
        src: url("assets/fonts/martian-mono/static/MartianMono-SemiBold.ttf") format("truetype");
    }

    @font-face {
        font-display: swap;
        font-family: "Martian Mono";
        font-style: normal;
        font-weight: 700;
        src: url("assets/fonts/martian-mono/static/MartianMono-Bold.ttf") format("truetype");
    }

    @font-face {
        font-display: swap;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        src: url("assets/fonts/inter/static/Inter_18pt-Regular.ttf") format("truetype");
    }

    @font-face {
        font-display: swap;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        src: url("assets/fonts/inter/static/Inter_18pt-SemiBold.ttf") format("truetype");
    }

    /* base colors */
    :root {
        --c-neutral-900: hsl(194, 78%, 11%);
        --c-neutral-700: hsl(195, 23%, 28%);
        --c-neutral-200: hsl(17, 12%, 89%);
        --c-neutral-100: hsl(17, 41%, 97%);
        --c-white: hsl(0, 0%, 100%);

        --c-light-salmon-500: hsl(22, 99%, 72%);
        --c-light-salmon-100: hsl(22, 100%, 91%);
        --c-light-salmon-50: hsl(23, 100%, 97%);
    }

    /* colors */
    :root {
        --color-h1-gradient-1: var(--c-light-salmon-500);
        --color-h1-gradient-2: var(--c-neutral-900);
        --color-h2-text: var(--c-neutral-900);
        --color-p-text: var(--c-neutral-700);
        --color-button-bg: var(--c-light-salmon-50);
        --color-button-bg-hover-gradient-1: var(--c-light-salmon-100);
        --color-button-bg-hover-gradient-2: var(--c-light-salmon-50);
        --color-button-dark-bg-hover-gradient-1: var(--c-neutral-700);
        --color-button-dark-bg-hover-gradient-2: var(--c-neutral-900);
        --color-button-focus-outline: var(--c-neutral-900);
        --color-button-text: var(--c-neutral-900);
        --color-button-border: var(--c-neutral-900);
        --color-reading-journey-text: var(--c-neutral-900);
        --color-reading-journey-bg: var(--c-neutral-100);
        --color-membership-border: var(--c-neutral-200);
        --color-membership-price-text: var(--c-neutral-900);
        --color-membership-price-span-text: var(--c-neutral-700);
        --color-membership-divider: var(--c-neutral-200);
        --color-membership-button-border: var(--c-neutral-900);
        --color-membership-button-bg: var(--c-light-salmon-50);
        --color-membership-button-text: var(--c-neutral-900);
        --color-membership-glow-bg: var(--c-neutral-100);
        --color-testimonial-quote-text: var(--c-neutral-900);
        --color-footer-cta-bg: var(--c-neutral-900);
        --color-footer-cta-text: var(--c-white);
        --color-footer-cta-title-text: var(--c-neutral-100);
        --color-footer-cta-button-border: var(--c-white);
        --color-footer-cta-divider: var(--c-neutral-700);
    }

    /* base fonts */
    :root {
        --fs-62: calc(62 / 16 * 1rem);
        --fs-50: calc(50 / 16 * 1rem);
        --fs-38: calc(38 / 16 * 1rem);
        --fs-34: calc(34 / 16 * 1rem);
        --fs-24: calc(24 / 16 * 1rem);
        --fs-20: calc(20 / 16 * 1rem);
        --fs-18: calc(18 / 16 * 1rem);
        --fs-16: calc(16 / 16 * 1rem);
        --fs-14: calc(14 / 16 * 1rem);

        --lh-110: 1.1;
        --lh-120: 1.2;
        --lh-130: 1.3;
        --lh-140: 1.4;

        --ls-negative-2: -2px;
        --ls-negative-1: -1px;
        --ls-negative-05: -0.5px;
    }

    /* fonts */
    :root {
        --font-size-membership-price: var(--fs-34);
    }

    body {
        font-family: "Martian Mono", Arial, Helvetica, sans-serif;
        font-weight: 400;
        color: var(--c-neutral-700);
    }

    h2 {
        color: var(--color-h2-text);
    }

    h3 {
        color: var(--c-neutral-900);
    }

    p {
        color: var(--color-p-text);
    }
}

@layer components {
    .main {
        display: flex;
        flex-direction: column;
        gap: 64px;

        @media (width >= calc(600 / 16 * 1rem)) {
            gap: 80px;
        }

        @media (width >= calc(1024 / 16 * 1rem)) {
            gap: 120px;
        }
    }

    .hero {
        position: relative;
        overflow: hidden;
        background-color: var(--c-neutral-100);
        background-image: url(assets/images/pattern-light-bg.svg);
        background-repeat: no-repeat;
        padding-block-end: 80px;

        @media (width >= calc(640 / 16 * 1rem)) {
            background-repeat: repeat;
        }

        .hero__wrapper {
            position: relative;
            z-index: 1;
        }

        .hero__header {
            padding-block-start: 24px;
            margin-block-end: 48px;

            @media (width >= calc(640 / 16 * 1rem)) {
                padding-block-start: 32px;
                margin-block-end: 64px;
            }

            @media (width >= calc(1024 / 16 * 1rem)) {
                margin-block-end: 80px;
            }
        }

        .hero__logo {
        }

        .hero__body {
            display: grid;
            gap: 64px;

            @media (width >= calc(1024 / 16 * 1rem)) {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        .hero__content {
        }

        .hero__title {
            background: linear-gradient(
                135deg,
                var(--color-h1-gradient-1) -30%,
                var(--color-h1-gradient-2) 95%
            );
            background-clip: text;
            color: transparent;
            margin-block-end: 24px;
        }

        .hero__text {
            margin-block-end: 32px;
        }

        .hero__button {
            margin-block-end: 20px;
        }

        .hero__button-icon {
        }

        .hero__rating {
        }

        .hero__avatars {
        }

        .hero__stars {
        }

        .hero__testimonial-text {
        }

        .hero__image {
            border-radius: 5.08px;

            @media (width >= calc(600 / 16 * 1rem)) {
                border-radius: 10.43px;
            }

            @media (width >= calc(1024 / 16 * 1rem)) {
                border-radius: 8px;
            }
        }

        &::after {
            @media (width >= calc(640 / 16 * 1rem)) {
                content: "";
                width: 542px;
                height: 585px;
                position: absolute;
                right: 0;
                bottom: 0;
                background-image: url(assets/images/glow/hero/tablet.png);
            }

            @media (width >= calc(1024 / 16 * 1rem)) {
                width: 412px;
                height: 658px;
                background-image: url(assets/images/glow/hero/desktop.png);
            }
        }
    }

    .perks {
        display: grid;
        gap: 40px;

        @media (width >= calc(1024 / 16 * 1rem)) {
            grid-template-columns: minmax(auto, calc(560 / 16 * 1rem)) auto;
            align-items: center;
            gap: 80px;
        }

        .perks__content {
            @media (width >= calc(1024 / 16 * 1rem)) {
                order: 1;
            }
        }

        .perks__title {
            margin-block-end: 24px;

            @media (width >= calc(640 / 16 * 1rem)) {
                margin-block-end: 34px;
            }
        }

        .perks__list {
            padding: 0;
            display: grid;
            gap: 16px;

            @media (width >= calc(640 / 16 * 1rem)) {
                gap: 24px;
            }

            @media (width >= calc(1024 / 16 * 1rem)) {
                max-width: 34ch;
            }
        }

        .perks__item {
            display: flex;
            align-items: center;
            list-style: none;
            gap: 14px;

            &::before {
                content: "";
                width: calc(28 / 16 * 1rem);
                height: calc(28 / 16 * 1rem);
                flex-shrink: 0;
                background-image: url(assets/images/icon-check.svg);
            }
        }

        .perks__picture {
        }

        .perks__image {
            border-radius: 12.25px;

            @media (width >= calc(640 / 16 * 1rem)) {
                border-radius: 25.14px;
            }
        }
    }

    .languages {
        /* position: relative; */
        display: grid;
        gap: 40px;

        @media (width >= calc(1024 / 16 * 1rem)) {
            grid-template-columns:
                minmax(0, calc(530 / 16 * 1rem))
                minmax(0, calc(560 / 16 * 1rem));
            align-items: center;
            gap: 80px;
        }

        .languages__content {
        }

        .languages__title {
            max-width: 19ch;
            margin-block-end: 24px;

            @media (width >= calc(640 / 16 * 1rem)) {
                margin-block-end: 34px;
            }
        }

        .languages__circled-word {
            position: relative;
            display: inline-block;

            &::after {
                content: "";
                position: absolute;
                background-image: url("assets/images/pattern-circle.png");
                background-repeat: no-repeat;
                background-size: contain;
                width: calc(108.62 / 16 * 1rem);
                height: calc(46.53 / 16 * 1rem);
                bottom: 0;
                right: -15px;

                @media (width >= calc(640 / 16 * 1rem)) {
                    width: calc(158.9 / 16 * 1rem);
                    height: calc(68.06 / 16 * 1rem);
                    bottom: -2px;
                    right: -13px;
                }
            }
        }

        .languages__text {
        }

        .languages__images {
            position: relative;
        }

        .languages__picture {
        }

        .languages__image {
            border-radius: 12.25px;

            @media (width >= calc(640 / 16 * 1rem)) {
                border-radius: 25.14px;
            }
        }

        .languages__logos {
            display: none;

            @media (width >= calc(640 / 16 * 1rem)) {
                display: block;
                position: absolute;
                right: 50.44px;
                bottom: 50.47px;
            }

            @media (width >= calc(1024 / 16 * 1rem)) {
                left: calc(0px - 14%);
                bottom: 31px;
            }
        }
    }

    .reading-journey {
        background-image: url(assets/images/pattern-light-bg.svg);
        background-color: var(--color-reading-journey-bg);
        padding-block: 64px;
        padding-inline: 16px;
        border-radius: 12px;
        position: relative;
        overflow: hidden;
        z-index: 0;

        @media (width >= calc(640 / 16 * 1rem)) {
            padding-inline: 32px;
            padding-block: 80px;
        }

        @media (width >= calc(1024 / 16 * 1rem)) {
            padding-inline: 60px;
        }

        .reading-journey__title {
            margin-block-end: 32px;

            @media (width >= calc(640 / 16 * 1rem)) {
                margin-block-end: 48px;
            }

            @media (width >= calc(1024 / 16 * 1rem)) {
                max-width: 16ch;
                text-align: center;
                margin-inline: auto;
                margin-block-end: 64px;
            }
        }

        .reading-journey__steps {
            color: var(--color-reading-journey-text);
            padding: 0;
            display: grid;
            gap: 32px;

            @media (width >= calc(640 / 16 * 1rem)) {
                gap: 40px;
            }

            @media (width >= calc(1024 / 16 * 1rem)) {
                grid-auto-flow: column;
                gap: 48px;
            }
        }

        .reading-journey__step {
            list-style: none;
        }

        .reading-journey__step-number-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: start;
        }

        .reading-journey__step-number {
            display: flex;
            border: 2px solid var(--color-reading-journey-text);
            justify-content: center;
            align-items: center;
            width: calc(32 / 16 * 1rem);
            height: calc(32 / 16 * 1rem);
            border-radius: 4px;
            margin-block-end: 20px;

            @media (width >= calc(640 / 16 * 1rem)) {
                width: calc(40 / 16 * 1rem);
                height: calc(40 / 16 * 1rem);
                margin-block-end: 24px;
            }
        }

        .reading-journey__arrow {
            @media (width < calc(1024 / 16 * 1rem)) {
                display: none;
            }
        }

        &::after {
            content: "";
            z-index: -1;
            width: 340px;
            height: 502px;
            position: absolute;
            right: 0;
            bottom: 0;
            background-image: url(assets/images/glow/reading-journey/mobile.png);

            @media (width >= calc(640 / 16 * 1rem)) {
                width: 605px;
                height: 602px;
                background-image: url(assets/images/glow/reading-journey/tablet.png);
            }

            @media (width >= calc(1024 / 16 * 1rem)) {
                width: 572px;
                height: 455px;
                background-image: url(assets/images/glow/reading-journey/desktop.png);
            }
        }
    }

    .membership {
        .membership__title {
            margin-block-end: 24px;

            @media (width >= calc(640 / 16 * 1rem)) {
                margin-block-end: 40px;
            }

            @media (width >= calc(1024 / 16 * 1rem)) {
                text-align: center;
                margin-block-end: 64px;
            }
        }

        .membership__options {
            display: grid;
            gap: 24px;

            @media (width >= calc(640 / 16 * 1rem)) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (width >= calc(1024 / 16 * 1rem)) {
                grid-template-columns: auto minmax(auto, calc(350 / 16 * 1rem)) auto;
                align-items: center;
            }
        }

        .membership__option {
            border: 1px solid var(--color-membership-border);
            border-radius: 8px;
            padding: 24px;

            &.glow {
                position: relative;
                background-color: var(--color-membership-glow-bg);
                z-index: 0;

                @media (width >= calc(1024 / 16 * 1rem)) {
                    padding-block: 40px;
                }

                &::after {
                    content: "";
                    z-index: -1;
                    width: 340px;
                    height: 354px;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    background-image: url(assets/images/glow/membership/mobile.png);

                    @media (width >= calc(640 / 16 * 1rem)) {
                        height: 356px;
                        background-image: url(assets/images/glow/membership/tablet.png);
                    }

                    @media (width >= calc(1024 / 16 * 1rem)) {
                        width: 350px;
                        height: 388px;
                        background-image: url(assets/images/glow/membership/desktop.png);
                    }
                }
            }
        }

        .membership__option-body {
            display: grid;
            gap: 24px;
            margin-block-end: 32px;
        }

        .membership__option-title {
        }

        .membership__price {
            display: flex;
            gap: 8px;
            color: var(--color-membership-price-text);
            font-size: var(--font-size-membership-price);
            line-height: var(--lh-130);
            letter-spacing: calc(var(--ls-negative-1) / var(--color-membership-price-text) * 1em);
            font-weight: 600;

            span {
                color: var(--color-membership-price-span-text);
                font-weight: 400;
                margin-block: auto;
            }
        }

        .membership__divider {
            border: none;
            height: 1px;
            background-color: var(--color-membership-divider);
        }

        .membership__features {
            display: grid;
            gap: 16px;
        }

        .membership__feature {
            display: flex;
            gap: 12px;
        }

        .membership__feature-icon {
            width: 24px;
            height: 24px;
        }

        .membership__feature-text {
        }

        .membership__button {
            width: 100%;
        }
    }

    .testimonial {
        display: grid;
        gap: 32px;

        @media (width >= calc(1024 / 16 * 1rem)) {
            justify-items: center;
            text-align: center;
        }

        .testimonal__stars {
            display: flex;
            gap: 6px;

            img {
                width: calc(28 / 16 * 1rem);
                height: calc(28 / 16 * 1rem);
            }
        }

        .testimonal__quote p {
            color: var(--color-testimonial-quote-text);
        }

        .testimonal__quote-attribution {
        }
    }

    .footer-cta {
        background-color: var(--color-footer-cta-bg);
        background-image: url(assets/images/pattern-dark-bg.svg);
        border-radius: 16px 16px 0 0;

        .footer-cta__wrapper {
            display: grid;
            padding-block-start: 48px;
            margin-block-end: 64px;

            @media (width >= calc(640 / 16 * 1rem)) {
                padding-block-start: 64px;
            }

            @media (width >= calc(1024 / 16 * 1rem)) {
                display: grid;
                padding-block-start: 80px;
            }
        }

        .footer-cta__title {
            color: var(--color-footer-cta-title-text);
            text-align: center;
            margin-block-end: 40px;

            @media (width >= calc(1024 / 16 * 1rem)) {
                max-width: 25ch;
                justify-self: center;
            }
        }

        .footer-cta__button {
            color: var(--color-footer-cta-text);
            background: transparent;
            border-color: var(--color-footer-cta-button-border);
            margin-block-end: 24px;
            justify-self: center;
        }

        .footer-cta__button-icon {
        }

        .footer-cta__rating {
            justify-self: center;
        }

        .footer-cta__avatars {
        }

        .footer-cta__stars {
            gap: 2px;
        }

        .footer-cta__testimonial-text {
            color: var(--color-footer-cta-text);
        }

        .footer-cta__footer {
            border-block-start: 1px solid white;
            border-color: var(--color-footer-cta-divider);
            padding-block: 24px;
            margin-inline: 32px;

            @media (width >= calc(640 / 16 * 1rem)) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-inline: 0;
                padding-inline: 32px;
            }

            @media (width >= calc(1024 / 16 * 1rem)) {
                max-width: calc(1174 / 16 * 1rem);
                margin-inline: auto;
                padding-inline: 0;
            }

            @media (width < calc(1174 / 16 * 1rem)) {
                padding-inline: 32px;
            }
        }

        .footer-cta__footer-text {
            color: var(--color-footer-cta-text);
            text-align: center;
            margin-block-end: 16px;

            @media (width >= calc(640 / 16 * 1rem)) {
                margin-block-end: 0;
            }
        }

        .footer-cta__socials {
            display: flex;
            justify-content: center;
            gap: 24px;
        }

        .footer-cta__socials-link:hover {
            opacity: 0.6;
        }
    }
}

/* reusable components */
@layer components {
    .button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        background-color: var(--color-button-bg);
        color: var(--color-button-text);
        text-transform: uppercase;
        border: 2px solid var(--color-button-border);
        border-radius: 8px;
        padding-block: 17.5px;
        padding-inline: 22px;

        &:hover {
            background: linear-gradient(
                to right,
                var(--color-button-bg-hover-gradient-1),
                var(--color-button-bg-hover-gradient-2)
            );
        }

        &:focus-visible {
            outline-offset: 5px;
            outline-color: var(--color-button-focus-outline);
        }

        &.button-dark:hover {
            background: linear-gradient(
                to right,
                var(--color-button-dark-bg-hover-gradient-1),
                var(--color-button-dark-bg-hover-gradient-2)
            );
        }
    }

    .rating {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: start;
        align-items: center;
        column-gap: 12px;
        row-gap: 4px;

        & > img {
            width: calc(110 / 16 * 1rem);
            grid-row: span 2;
        }

        div {
            display: flex;
        }
    }
}

@layer utils {
    .wrapper {
        --padding-inline: 32px;

        width: calc(100% - var(--padding-inline));
        margin-inline: auto;

        @media (width >= calc(640 / 16 * 1rem)) {
            --padding-inline: 64px;
        }

        @media (width >= calc(1024 / 16 * 1rem)) {
            max-width: calc(1174 / 16 * 1rem);
        }

        &.wrapper-sm {
            @media (width >= calc(1024 / 16 * 1rem)) {
                max-width: calc(970 / 16 * 1rem);
            }
        }
    }

    .text-preset-1 {
        --font-size: var(--fs-38);

        font-size: var(--font-size);
        line-height: var(--lh-120);
        letter-spacing: calc(var(--ls-negative-2) / var(--font-size) * 1em);
        font-weight: 700;

        @media (width >= calc(640 / 16 * 1rem)) {
            --font-size: var(--fs-62);
        }
    }

    .text-preset-2 {
        --font-size: var(--fs-34);

        font-size: var(--font-size);
        line-height: var(--lh-130);
        letter-spacing: calc(var(--ls-negative-2) / var(--font-size) * 1em);
        font-weight: 600;

        @media (width >= calc(640 / 16 * 1rem)) {
            --font-size: var(--fs-50);
        }
    }

    .text-preset-3 {
        --font-size: var(--fs-24);

        font-size: var(--font-size);
        line-height: var(--lh-110);
        letter-spacing: calc(var(--ls-negative-1) / var(--font-size) * 1em);
        font-weight: 600;

        @media (width >= calc(640 / 16 * 1rem)) {
            --font-size: var(--fs-34);
            line-height: var(--lh-130);
        }
    }

    .text-preset-4 {
        --font-size: var(--fs-24);

        font-size: var(--font-size);
        line-height: var(--lh-110);
        letter-spacing: calc(var(--ls-negative-1) / var(--font-size) * 1em);
    }

    .text-preset-5 {
        --font-size: var(--fs-20);

        font-size: var(--font-size);
        line-height: var(--lh-140);
        letter-spacing: calc(var(--ls-negative-05) / var(--font-size) * 1em);
        font-family: "Inter", Arial, Helvetica, sans-serif;
    }

    .text-preset-6 {
        --font-size: var(--fs-16);

        font-size: var(--font-size);
        line-height: var(--lh-130);
        letter-spacing: calc(var(--ls-negative-1) / var(--font-size) * 1em);
        font-weight: 600;

        @media (width >= calc(640 / 16 * 1rem)) {
            --font-size: var(--fs-18);
        }
    }

    .text-preset-7 {
        --font-size: var(--fs-14);

        font-size: var(--font-size);
        line-height: var(--lh-120);
        letter-spacing: calc(var(--ls-negative-1) / var(--font-size) * 1em);
    }

    .semibold {
        font-weight: 600;
    }
}
